@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sfp-pro-display/SFProDisplay-Regular.woff2') format('woff2'),
    url('/fonts/sfp-pro-display/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sfp-pro-display/SFProDisplay-Medium.woff2') format('woff2'),
    url('/fonts/sfp-pro-display/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sfp-pro-display/SFProDisplay-Bold.woff2') format('woff2'),
    url('/fonts/sfp-pro-display/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Bold.woff2') format('woff2'),
    url('/fonts/inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Light.woff2') format('woff2'),
    url('/fonts/inter/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-color: black;
  color: #fff;
}

:root {
  --orange: #FF8225;
}